<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <button
          mat-raised-button
          color="primary"
          (click)="createuser.showModal()"
        >
          Create User
        </button>
      </div>
    </div>
    <hr />
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
            <!-- 'firstName','userId','email','phoneNum','userStatus','immigrationStatus','workStatus' -->
      <!-- Position Column -->
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> User ID </th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="phoneNum">
        <th mat-header-cell *matHeaderCellDef> Phone No. </th>
        <td mat-cell *matCellDef="let element"> {{element.phoneNum}} </td>
      </ng-container>

      <ng-container matColumnDef="userStatus">
        <th mat-header-cell *matHeaderCellDef> User Status </th>
        <td mat-cell *matCellDef="let element"> {{element.userStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="immigrationStatus">
        <th mat-header-cell *matHeaderCellDef> Immigration Status </th>
        <td mat-cell *matCellDef="let element"> {{element.immigrationStatus}} </td>
      </ng-container>

      <ng-container matColumnDef="workStatus">
        <th mat-header-cell *matHeaderCellDef> Work Status </th>
        <td mat-cell *matCellDef="let element"> {{element.workStatus}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="usersTable"></tr>
      <tr mat-row *matRowDef="let row; columns: usersTable;"></tr>
      </mat-table>
  </div>
  </div>
</div>

<dialog #createuser>
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">Create User</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-md-5">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" />
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" />
            </mat-form-field>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" />
            </mat-form-field>
          </div>
          <div class="col-md-5">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Phone Number" />
            </mat-form-field>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="User Status" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Emmigration Status" />
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Work Status" />
            </mat-form-field>
          </div>
        </div>
        <hr />
      </form>
      <div class="row">
        <div class="col-md-6">
          <button
            mat-raised-button
            (click)="createuser.close()"
            color="primary"
          >
            Close
          </button>
        </div>
        <div class="col-md-6">
          <button mat-raised-button type="submit" color="primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</dialog>
