.example-card {
  display: inline-block;
}
.mat-card-cvr {
  width: 100%;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 13.5%;
  background-color: lightgrey;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.btn-cls {
  justify-content: center;
}

.title-cls {
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}
